:root {
	--blue: #0ea5e9;
	--orange: #fb923c;
}

@font-face {
	font-family: 'Roboto';
	src: url('assets/fonts/roboto-light-webfont.woff2') format('woff2'),
		url('assets/fonts/roboto-light-webfont.woff') format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: bold;
	src: url('assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
		url('assets/fonts/roboto-bold-webfont.woff') format('woff');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}

body {
	background-color: rgb(227, 232, 239);
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 4.5fr;
	height: 100vh;
}
/* Dashboard */
.dashboard {
	color: white;
	font-weight: bold;
	background-color: var(--blue);
	grid-area: 1 / 1 / 3 / 2;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.dashboard-header {
	font-size: 1.6rem;
	padding: 16px;
	display: flex;
	align-items: center;
	gap: 11px;
	fill: #fff;
}
.dashboard-header svg {
	width: 50px;
	height: 50px;
}
.control {
	font-size: 1.2rem;
	margin-bottom: 14px;
	margin-left: 26px;
	display: flex;
	gap: 20px;
}
.control svg {
	width: 25px;
	height: 25px;
	fill: #fff;
}
/* Header */
header {
	padding: 20px 40px;
	grid-area: 1 / 2 / 2 / 3;
	background-color: #fff;
	display: grid;
	grid-template: 1fr 1fr / 2fr 1fr;
}
.search {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 15px;
}
.search input {
	border: none;
	border-radius: 20px;
	height: 30px;
	background-color: rgb(227, 232, 239);
	padding: 10px;
}
header .icon,
header .alerts {
	fill: #000;
	height: 25px;
	width: 25px;
}
header .controls-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
.profile {
	width: max-content;
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 28px;
}
.profile img {
	background-color: rgb(228, 187, 74);
	border-radius: 50%;
	padding: 8px;
	width: 50px;
	height: 50px;
}
.profile.big img {
	width: 70px;
	height: 70px;
}
.profile.big .username {
	font-size: 1.4rem;
}
header .controls-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
header .controls-2 button {
	font-weight: bold;
	padding: 8px 30px;
	border: none;
	border-radius: 20px;
	background-color: var(--blue);
	color: #fff;
}
/* Main */
main {
	margin: 2rem 1rem;
	display: grid;
	grid-template: 1fr 1fr / 3fr 1fr;
	gap: 2rem;
}
/* Projects */
.projects {
	grid-area: 1 / 1 / 3 / 2;
}
.projects > h3,
.announcements > h3,
.trending > h3 {
	margin-bottom: 20px; /* Projects Announcements Trending heading*/
}
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	gap: 2rem;
}
.card {
	background-color: #fff;
	border-radius: 10px;
	border-left: 10px solid #fb923c;
	padding: 20px;
	height: 232px;
}
.card p {
	color: rgba(0, 0, 0, 0.5);
}

.card .controls {
	list-style: none;
	margin-top: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 20px;
}
.controls svg {
	width: 30px;
	height: 30px;
}
/* Announcements */
.a-list {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	width: 35ch;
}
.a-item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.a-item p {
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.5);
}
/* Trending */
main .trending {
	grid-area: 2 / 2 / 3 / 3;
}
.profile .projects {
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.8rem;
}
.a-list .profile {
	margin-bottom: 20px;
}
